.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.bgimg{
  opacity: 2;
  height: auto;
  background-size: cover;
}

.navbar-bg{
  background-color: rgb(2, 84, 87);
}

.navbar-color{
  color: rgb(19, 161, 26)
}
